# example
source ~/ncs/zephyr/zephyr-env.sh

# Use an SSH Host profile to customize username, port, etc.
export REMOTE_FLASH_HOST="my_raspberry_pi"

function flash() {
    # using a remote flashing host (Raspberry Pi) over SSH:
    # rsync -av build/merged.hex ${REMOTE_FLASH_HOST}:
    # ssh ${REMOTE_FLASH_HOST} -- sudo killall --quiet openocd
    # ssh ${REMOTE_FLASH_HOST} -- openocd -f flash.cfg

    # using ST-LinkV2 on your dev machine:
    # openocd -f flash.cfg
}

function debug() {
    # using a remote flashing host (Raspberry Pi) over SSH:
    # ssh ${REMOTE_FLASH_HOST} -- sudo killall --quiet openocd
    # ssh ${REMOTE_FLASH_HOST} -- openocd -f debug.cfg

    # using ST-LinkV2 on your dev machine:
    # openocd -f debug.cfg
}
